@using ShopMVC.Models.Account
@model AccountModel

@{
    ViewBag.Title = "Login";
}

<h2>Login</h2>

<p>Zaloguj się do swojego konta</p>

@using (Html.BeginForm())
{
    <table>
        <tr>
            <td>Login: </td>
            <td>@Html.TextBoxFor(model => model.UserName, new { Style = "background-color:black;" })</td>
        </tr>
        <tr>
            <td>Hasło: </td>
            <td>@Html.PasswordFor(model => model.Password, new { Style = "background-color:black;" })</td>
        </tr>
    </table>

    <div>
        <button>Zaloguj</button>
    </div>

    <div style="color: red">
        @ViewBag.ErrorMessage
    </div>


}